<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Novo Formulário</h2>
    </div>

    <div class="card-body">
      <form class="" action="/admin/articles/save" method="post">
        <div class="form-group">
          <label>Título: </label>
          <input name="title" type="text" class="form-control" placeholder="Escreva o título . . .">
        </div>

        <br>
        <div class="form-group">
          <label>Conteúdo: </label>
          <textarea class="form-control"  name="body" id="article"></textarea>
        </div>

        <br>
        <div class="input-group mb-3">
          <select class="custom-select" id="inputGroupSelect02" name="category">
            <option selected>Escolha a categoria do artigo . . .</option>
              <% categories.forEach( category => { %>
                <option><%= category.title %> </option>

              <% }) %>
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">Categorias</label>
          </div>
        </div>

        <br>
        <button type="submit" class="btn btn-dark"> Salvar </button>
      </form>

    </div>

  </div>

</div>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
tinymce.init({
  selector: '#article',
  activeEditor: true,
  plugins: [
    'advlist autolink link image print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
  ]
});
</script>
