<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <br>
        <div class="card-body">
          <form action="/authenticate" method="post">
            <input class="form-control" type="email" name="email" placeholder="email@exemplo.com">
            <br>
            <input class="form-control" name="password" type="password" placeholder="******">
            <br>
            <button type="submit" class="btn btn-dark btn-block">Entrar</button>
          </form>

        </div>
      </div>

    </div>

  </body>
<%- include('../../partials/footer.ejs')%>
